<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container" @zoomIn>
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="text-center">Mot de passe oublié </ion-card-title>
        <ion-card-subtitle class="text-center">
          Connectez-vous pour continuer
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onRequestForgotPassword()">
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input
              formControlName="email"
              placeholder="Email"
              type="text"
            ></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" [disabled]="forgotPasswordForm.invalid" class="mt-4">
            Se connecter
          </ion-button>

          <ion-text color="danger" *ngIf="hasWrongCredentials">
    <p class="error-msg">Email/téléphone ou mot de passe incorrect</p>
  </ion-text>
        </form>

        <div class="register-link">
 <ion-button
  expand="block"
  fill="clear"
  class="register-btn"
  (click)="goToRegister()"
>
  Créer un compte gratuitement
</ion-button>
 <ion-button
 color="success"
  expand="block"
  fill="clear"
  class="register-btn"
  (click)="goToLogin()"
>
  Se connecter
</ion-button>
</div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
