.login-content {
  --background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  width: 90%;
  max-width: 380px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1.5rem;
}
.error-msg {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}

.register-btn {
  color: #4facfe; /* bleu dégradé */
  font-weight: bold;
  text-transform: none;
  font-size: 1rem;

  &:hover {
    color: #00f2fe;
  }
}


