<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hello</ion-title>

    <ion-buttons slot="end">
      <ion-avatar (click)="openProfileMenu($event)">
        <img [src]="user?.imagePreview" alt="Profile" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div>

</div>
<ion-content [fullscreen]="false" class="home-content">

  <div>ss
   <ion-router-outlet></ion-router-outlet>
  </div>
</ion-content>
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Recherche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
